

<div class="container">
<img src="../../../../../assets/TuSegundazocom.png" class="img-fluid">
<hr>
<img src="../../../../../assets/image1.jpg" class="img-fluid">
<hr>
<div class="container list">

<table class="table">
  <thead  class="table-dark">
    <tr>
      <th scope="col">#</th>
      <th scope="col">Marca</th>
      <th scope="col">Línea</th>
      <th scope="col">Modelo</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let vehiculo of vehiculos">
      <th scope="row">{{vehiculo.id}}</th>
      <td>{{vehiculo.marca}}</td>
      <td>{{vehiculo.linea}}</td>
      <td>{{vehiculo.modelo}}</td>
    </tr>

  </tbody>
</table>
<ul>
  <li *ngFor="let marca of marcas| keyvalue">
    Total  {{marca.key}}: {{marca.value}}
  </li>
</ul>
</div>
<div class="fixed-bottom"><div class="d-flex justify-content-center bottom">Contact us: +57 3102105253 - info@tusegundazo.com - @tusegundazo</div></div>
</div>
